@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
  font-family: 'Roboto', sans-serif;
}

body {
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reg {
    background-color: rgb(224, 240, 87);
}

.footergroup { 
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 5px;
  }

  .btn {
    background-color: darkblue;
    color: white;
  }

  .form-control {
    background-color: darkblue;
    color: white;
    opacity: 0.5;
  }